header.header {
    position: relative;
    padding-bottom: 60px;
    height: 670px;
    overflow: hidden;

    .menu-bg-dark__mobile {
        display: none;
        visibility: hidden;
    }

    .menu-bg {
        background: url('../img/bg-menu.png') no-repeat;
        position: absolute;
        top: 89px;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }

    .menu-bg-dark {
        background: $grey;
        position: absolute;
        top: 0;
        right: 0;
        width: 42%;
        height: 90%;
        z-index: -1;
    }

    .line {
        display: block;
        width: 370px;
        height: 12px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background: $yellow;
        z-index: 1;
    }
    
    .menu {
        .navbar-nav {
            margin-top: -30px;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            li {
                a {
                    text-transform: uppercase;
                    color: $grey;
                    font-size: 14px;
                    font-weight: 500;
                    transition: $transition;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    .header-title {
        padding: 15% 25% 0 0;
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: .05em;
        color: $grey;
    }

    .mobile-btn {
        display: none;
        visibility: hidden;
    }

    .header-banner {
        position: absolute;
        left: -140px;
        top: 0;

        &::after {
            content: '';
            background: url('../img/dots.png') no-repeat;
            display: block;
            width: 113px;
            height: 200px;
            position: absolute;
            top: -150px;
            right: -46px;
            z-index: 2;
            background-size: contain !important;
        }

        .custom-btn {
            position: absolute;
            right: -35px;
            bottom: 25px;

            a {
                color: $white;
            }
        }
    }
    .contacts {
        padding-top: 45px;
        position: relative;

        .phone {
            margin-right: 15px;
        }

        .phone,
        .email {
            a {
                color: $yellow;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
            }
        }
        .email {
            a {
                font-weight: 400;
            }
        }
    }

    @media screen and(min-width:1101px) and (max-width:1160px) {
        .menu {
            .navbar {
                padding: 0;

                .navbar-brand {
                    margin-right: 0;
                }

                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media screen and(min-width:993px) and (max-width:1100px) {
        .menu {
            .navbar {
                padding: 0;

                .navbar-brand {
                    margin-right: 0;
                }

                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .contacts {
            &-inner {
                .header-banner {
                    &:after {
                        right: 0;
                    }

                    .custom-btn {
                        right: 0;
                    }
                }
            }
        }
    }

    @media screen and(min-width:320px) and (max-width:992px) {
        height: auto;
        margin-bottom: unset;
        
        .menu {
            .navbar {
                padding-right: 0;
            }
        }
        
        .menu-bg-dark__mobile {
            display: block;
            visibility: visible;
            position: absolute;
            top: 55px;
            left: 0;
            background: $grey;
            width: 100%;
            height: 96%;
            z-index: -1;
        }

        .menu-bg,
        .line,
        .menu-bg-dark {
           display: none;
           visibility: hidden;
        }
    
        .menu {
            margin-bottom: 20px;
            // background: none !important;
            
            .icon-bar {
                width: 40px;
                height: 3px;
                background-color: $grey;
                display: block;
                transition: all .2s ease-in-out;
                margin-top: 7px;
            }
             
            .navbar-toggler {
              border: none;
              background: transparent !important;
              padding: 0;

                &:active,
                &:focus {
                    outline: none;
                }

                .top-bar {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
            
                .middle-bar {
                    opacity: 0;
                }
                
                .bottom-bar {
                    transform: rotate(-45deg);
                    transform-origin: 13% 90%;
                }
            }
            
            .navbar-toggler.collapsed .top-bar {
                transform: rotate(0);
                border-radius: 0;
                
            }

            .navbar-toggler.collapsed .middle-bar {
                opacity: 1;
            }

            .navbar-toggler.collapsed .bottom-bar {
                transform: rotate(0);
                border-radius: 0;
            }
            
            .navbar-brand {
                img{
                    width: 80%;
                }
            }

            .navbar-nav {
                margin: 30px 0;

                li {
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }

                    a{
                        text-transform: none;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }

            .mobile-contacts {
                &-phone {
                    margin-bottom: 10px;

                    a {
                        color: $yellow;
                            font-weight: 500;
                            font-size: 20px;
                            letter-spacing: 0.05em;
                    }
                }

                &-social{
                    margin-bottom: 15px;

                    a {
                        margin-right: 5px;
                    }
                }

                &-email{
                    margin-bottom: 30px;
                    
                    a{
                        font-size: 20px;
                        color: $yellow;
                        font-weight: 500;
                    }
                }
            }
        }
        
        .header-title {
            padding: 25px 18% 25px 25px;
            color: $white;
            font-size: 22px;
            line-height: 30px;
        }

        .mobile-btn {
            display: block;
            visibility: visible;
            position: absolute;
            bottom: -60px;
        }

        .header-banner {
            position: relative;
            padding-left: 25px;
            left: 0;
            
            &-img {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .custom-btn {
                display: none;
                visibility: hidden;
            }
    
            &::after {
                content: '';
                background: url(../img/dots.png) no-repeat;
                display: block;
                width: 113px;
                height: 200px;
                position: absolute;
                top: 30%;
                left: -45px;
                z-index: 2;
                background-size: contain;
                transform: rotate(90deg);
            }
        }

        .contacts {
            display: none;
            visibility: hidden;
        }
    }

    @media screen and(min-width:320px) and (max-width:360px) {
        .contacts {
            &-inner {
                .header-banner {
                    .custom-btn {
                        font-size: 16px;
                    }
                }
            }
        }
        
        .header-banner {
            &-img {
                img {
                    width: unset;
                }
            }

            &::after {
                top: 45%;
            }
        }
    }
}    