.portfolio {
    padding: 30px;
    position: relative;

    .border-wrap {
        position: absolute;
        top: 10px;
        left: 0;
        width: 74%;
        height: 98%;
        border: 1px solid $light;
    }

    .slider {
        &:focus {
            outline: none !important;
        }
    }

    &-inner {
        padding: 30px;

        .left {
            .text {
                width: 86%;

                p {
                    font-size: 14px;

                    &:last-child{
                        margin-bottom: 35px;
                    }
                }
            }

            .portfolio-list {
                width: 80%;

                .sub-title {
                    margin-bottom: 20px;
                    font-size: 30px;
                }
                
                ul {
                    margin: 0;
                    padding-left: 15px;
                    
                    li {
                        list-style-image: url('../img/list-img-grey.png');
                        font-size: 16px;
                        padding-left: 10px;
                        
                        &:not(:last-child){
                            margin-bottom: 25px;
                        }

                        span  {
                            display: block;
                        }
                    }
                }
            }
        }

        .right {
            position: relative;
            width: 100%;

            .section-title {
                font-size: 45px;
                position: absolute;
                right: -35px;
                top: -40px;
                background: #fff;
                text-align: right;
                width: 100%;
            }

            .img {
                position: absolute;
                top: 100px;
                right: -35px;
                width: 100%;
                max-height: 375px;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info {
                position: absolute;
                top: 300px;
                left: -10%;
                max-width: 400px;
                padding: 25px 40px;
                background: $grey;
                color: $white;

                &-title {
                    background: $yellow;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 35px;
                    padding: 5px 80px;
                    margin-left: -80px;
                    margin-bottom: 20px;
                }
                
                &-price {
                    color: $white;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 35px;
                    margin-bottom: 10px;
                }
                
                &-text__sub {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 15px;
                }

                &-text{
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            .slider-nav {
                position: absolute;
                bottom: 0;
                right: -200px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                height: 65%;
                width: 120px;

                &__mobile {
                    display: none;
                    visibility: hidden;
                }

                .slide-counter {
                    .arrow {
                        background: url('../img/right-arrow.png') no-repeat;
                        background-size: contain !important;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 25px;
                        right: 20px;
                    }
                    
                    .arrow__left {
                        transform: rotate(180deg);
                        left: -15px;
                    }

                    .counter {
                        background: $white;
                        padding: 20px;

                        .current {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 21px;
                            color: $yellow;
                        }
                        .slash,.total {
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 14px;
                            color: $dark-grey;
                        }
                    }
                }

                .next {
                    &-btn {
                        background: $white;
                        padding: 15px 0;
                        border: 0;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 20px;
                        color: $yellow;
                        text-align: left;
                        position: relative;

                        &:focus,
                        &:active {
                            outline: none;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 40px;
                            height: 40px;
                            background: url(../img/right-arrow.png) no-repeat;
                            position: absolute;
                            top: 15px;
                            right: -50px;
                            z-index: 2;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 40px;
                            height: 46px;
                            background: #f9f9f9;
                            position: absolute;
                            top: 12px;
                            right: -60px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1400px) and (max-width: 1500px){
        .border-wrap {
            width: 79%;
        }
    }

    @media screen and (min-width: 1300px) and (max-width: 1399px){
        .border-wrap {
            width: 80%;
        }
    }

    @media screen and (min-width: 1100px) and (max-width: 1299px){
        .border-wrap {
            width: 82%;
        }
    }

    @media screen and (min-width: 1100px) and (max-width: 1200px){
        .border-wrap {
            width: 85%;
        }

        &-inner {
            .right {
                .slider-nav {
                    right: -170px;
                }
            }
        } 
    }
    
    @media screen and (min-width: 992px) and (max-width: 1099px){
        padding: 0;

        .section-title {
            right: 40px;
            padding: 0;
            font-size: 42px;

            p{
                width: 500px;
            }
        }

        &-inner {
            .right {
                .slider-nav {
                    right: -150px;

                    .next {
                        &-btn {

                            &::before {
                                right: -35px;
                            }

                            &::after {
                                right: -45px;
                            }
                        }
                    }
                }
            }
        } 
    }

    @media screen and (min-width:320px) and (max-width:991px){
    
        padding: 0;
        margin-bottom: 60px;

        .padd-0 {
            padding-right: 0;
            padding-left: 0;
        }

        .border-wrap{
            display: none;
            visibility: hidden;
        }

        &-inner {
            width: 100%;
            border: none;
            padding: 0;

            .right {
                .section-title {
                    position: relative;
                    color: $grey;
                    text-align: left;
                    font-size: 30px;
                    line-height: 35px;
                    padding: 50px 30px 0;
                    right: unset;
                    top: unset;
                }

                .arrows {
                    position: relative;
                    
                    .arrow {
                        background: url(../img/arrow-wh.png) no-repeat;
                        background-size: contain!important;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 135px;
                        right: 20px;
                    }

                    .arrow__left {
                        transform: rotate(180deg);
                        left: 20px;
                    }
                }

                .img {
                    position: unset;
                    max-height: 100%;
                }

                .info {
                    position: unset;
                    max-width: unset;
                    margin-bottom: 30px;
                    padding: 25px 30px;
                    width: 100%;
                    height: unset;
                    justify-content: unset !important;

                    &-title {
                        width: unset;
                        margin: -46px auto 20px 0;
                        padding: 5px 30px;
                        font-weight: 500;
                    }

                    &-price {
                        text-align: left;
                        font-size: 20px;
                        letter-spacing: 0.05em;
                        font-weight: 500;

                        span {
                            font-size: 30px;
                        }
                    }

                    &-text__sub {
                        font-size: 12px;
                    }
                }

                .slider-nav {
                    display: none;
                    visibility: hidden;

                    &__mobile {
                        display: block;
                        visibility: visible;
                        position: unset;
                        margin: 0 20% 20px auto;
                        height: 60px;
                    }

                    .slide-counter {
                        display: none;
                        visibility: hidden;
                    }

                    .next {
                        &-btn {
                            font-size: 11px;
                            line-height: 14px;
                            font-weight: 500;
                            padding: 0px 0;

                            &:before {
                                top: 0;
                                right: -35px;
                            }

                            &:after {
                                top: 0;
                                right: -57px;
                            }
                        }
                    }
                }
            }

            .left {
                .text,
                .portfolio-list {
                    width: 100%;
                    padding: 0 15px;
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:375px){
        .right {
            .section-title {
                font-size: 25px;
            }
        }
    }
    
    @media screen and (min-width:320px) and (max-width:359px){
        &-inner {
            .right {
                .img {
                    img {
                        height: auto;
                    }
                }

                .arrows {
                    .arrow {
                        top: 95px;
                        right: 20px;
                    }

                    .arrow__left {
                        left: 20px;
                    }
                }

                .info {
                    &-title {
                        margin: -46px auto 20px 25px;
                    }
                }
            }
        }
    }
}