.portfolio {
    padding: 30px;

    .slider {
        &:focus {
            outline: none !important;
        }
    }

    .section-title {
        font-size: 45px;
        position: absolute;
        right: 80px;
        top: -20px;
        background: #fff;
        text-align: right;
        padding: 0 0 45px 30px;
        
        p {
            width: 510px;
        }
    }

    &-inner {
        width: 85%;
        border: 1px solid $light;
        padding: 30px;

        .left {
            .text {
                p {
                    font-size: 14px;
                    &:last-child{
                        margin-bottom: 35px;
                    }
                }
            }

            .portfolio-list {
                .sub-title {
                    margin-bottom: 20px;
                    font-size: 30px;
                }

                ul {
                    margin: 0;
                    padding-left: 15px;

                    li {
                        font-size: 16px;
                        &:not(:last-child){
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            
        }
            
        .img {
            position: absolute;
            top: 100px;
            right: -100px;
            width: 100%;
            
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        .info {
            position: absolute;
            top: 300px;
            right: 150px;
            width: 350px;
            padding: 25px 40px;
            background: $grey;
            color: $white;

            &-title {
                background: $yellow;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                // width: max-content;
                padding: 5px 80px;
                margin-left: -80px;
                margin-bottom: 20px;
            }
            
            &-price {
                color: $white;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 10px;
                text-align: center;
            }
            
            &-text__sub{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            &-text{
                font-size: 16px;
                line-height: 22px;
            }
        }

        .slider-nav {
            position: absolute;
            top: 400px;
            right: -60px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            height: 320px;
            width: 120px;

            .slide-counter {
                .arrow {
                    background: url('../img/right-arrow.png') no-repeat;
                    background-size: contain !important;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 25px;
                    right: 0;
                }
                
                .arrow__left {
                    transform: rotate(180deg);
                    left: 0;
                }

                .counter {
                    background: $white;
                    padding: 20px;

                    .current {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $yellow;
                    }
                    .slash,.total {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 14px;
                        color: $dark-grey;
                    
                    }
                }
            }

            .next {
                &-btn {
                    background: $white;
                    padding: 15px 0;
                    border: 0;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: $yellow;
                    text-align: left;
                    position: relative;

                    &:focus,
                    &:active {
                        outline: none;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 40px;
                        height: 40px;
                        background: url(../img/right-arrow.png) no-repeat;
                        position: absolute;
                        top: 15px;
                        right: -50px;
                        z-index: 2;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 40px;
                        height: 46px;
                        background: #f9f9f9;
                        position: absolute;
                        top: 12px;
                        right: -60px;
                        z-index: 1;
                    }
                }
            }
        }

        @media screen and (min-width: 1100px) and (max-width: 1200px){
            .right {
                .img {
                    img {
                        max-width: 500px;
                    }
                }

                .info {
                    max-width: 370px;
                }
            }
        }

        @media screen and (min-width: 1201px) and (max-width: 1399px){
            .right {
                .slider-nav {
                    right: -80px;
                }
            }
        }
        
        @media screen and (min-width: 992px) and (max-width: 1200px){
            .right {
                .info {
                    max-width: 340px;
                }
            }
        }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1099px){
        padding: 0;

        .section-title {
            right: 0;
            padding: 0;
            font-size: 42px;

            p{
                width: 500px;
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:991px){
        padding: 0;
        margin-bottom: 60px;

        .section-title {
            position: unset;
            color: $grey;
            text-align: left;
            font-size: 24px;
            line-height: 30px;
            padding: 40px 35px 0;
            margin-bottom: 80px;

            p {
                width: 100%;
            }
        }

        &-inner {
            width: 100%;
            border: none;
            padding: 0;

            .right {
                margin: 0 -15px;
                .arrows {
                    position: relative;
                    
                    .arrow {
                        background: url(../img/arrow-wh.png) no-repeat;
                        background-size: contain!important;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 115px;
                        right: 20px;
                    }
                    .arrow__left {
                        transform: rotate(180deg);
                        left: 20px;
                    }
                }
                .img {
                    position: unset;
                }
                .info {
                    position: unset;
                    max-width: unset;
                    margin-bottom: 30px;
                    width: 100%;
                    
                    &-title {
                        margin: -46px auto 20px 0;
                        width: unset;
                    }

                    &-price {
                        text-align: left;
                    }

                    &-text__sub {
                        font-size: 12px;
                    }
                }
                .slider-nav {
                    top: -70px;
                    right: 75px;

                    .slide-counter {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
            .left {
                padding-left: 25px;
            }
        }
    }
}